@charset "UTF-8";
/*CSS Document*/

/**************************************************************************/
/*------------------------------   Fonts   -------------------------------*/
/**************************************************************************/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700);


/**************************************************************************/
/*------------------------------   Global   ------------------------------*/							
/**************************************************************************/
body, html {
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    font-family: 'Open Sans 400', sans-serif;
    overflow: auto;
}

.content {
    max-width:240px;
    width:100%;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
}

.cf:after {
  content: "";
  display: table;
  clear: both;
}

header {
    background:#fff;
    box-shadow: 0px 0px 16px #000;
}

p {
    font-family: 'Open Sans 700', sans-serif;
    font-weight:bold;
    font-size:50px;
    /*line-height:50px;*/
    text-align:center;
    width: 100%;
    top: 100%;
}

/**************************************************************************/
/*------------------------------  homePage  ------------------------------*/
/**************************************************************************/
.mainPage {
    background:url('../img/grayBackground.png') no-repeat;
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: fixed;
}

.mainPage img {
    width: 100%;
    margin-top: 100%;
}

/**************************************************************************/
/*------------------------------  getReady  ------------------------------*/
/**************************************************************************/
